/*
## Lab Activities ##
1. @all pages using `div`s or other content dividing tags create three areas: a navigation (containing the list of navigation links), a footer and a main content.
2. @myStyle.css write CSS rules to:
	1. set the positions of the footer to the bottom and navigation area at the top. Make sure these two are always visible.
	2. remove the bullets from the list in the navigation div. Also remove any margin and padding.
	3. makes all `li` elements in the navigation `div` to float left, and given them a BG colour and a border, a fixed width and a margin.
	4. remove any decoration from links under the navigation `div`s
	5. a tags should be block elements.
	6. create a class `dropdown` (added `@history.html`) 
	7. make the drop-down list appear only when the mouse hovers on top of the history
3. @`history.html`: create a floating button in history that takes the user at the top, using the up arrow image you will find at the `graphics` folder
*/

body {
    background-color: antiquewhite;
    margin:auto 0 ;
    
}
nav> ul{
    list-style-type: none;
    display:flex;
}

nav>ul>li{
    margin-left:5px;
}

nav>ul>li>a{
color:black;
text-decoration: none;
}

nav:hover{
    opacity: 100%;
}

nav {
    z-index: 1;
    visibility: visible;
    position: fixed;
    left:38%;
    top:0px;
    opacity: 40%;
    list-style-type: none;
    background-color: turquoise;
    margin:10px;
    width:30%;
    
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: monospace;
    background-color: darkgreen;
    color: antiquewhite;
}

p {
    font-family: sans-serif;
    text-align: justify;
}
section{
    padding: 0px 10px 50px 10px;
    position:relative;
    top:55px
}
.popup:hover > .dropdown{
    display:block;
}

.dropdown {
 display:none;
    list-style-type: none;
    text-decoration: none;
    color:purple;
    
}

.upbutton{
    position:fixed;
    bottom:70px;
    opacity:50%;
    right:10px;
    border:none;
}
.upbutton:hover{
    opacity:100%;
}


