body {
    margin:auto 0 ;
    background: linear-gradient(to bottom,#d1d6ec,40%, #3f66f3);
    flex:1;
    flex-direction: column;
    justify-content: space-between;
    
}
html {
    height:100%;
    
  }
.cover{
    height:cover !important;
}
nav {
    z-index: 3;
    visibility: visible;
    position: sticky;
    top:0px;
    opacity: 40%;
    list-style-type: none;
    background-color: #3b5998;
    margin:auto;
    width:550px;
    height:50px;
    border-radius: 20px;
    /*nav styling*/
}
nav:hover{
    opacity: 100%; /* So when we hover over the nav it is completely visible */
}
#logo{
    height:130px;
    float:right;
    z-index:1;
    position:sticky;
    top:0px;
    margin-left:-100%;
}
nav> ul{
    list-style-type: none;
    display:flex;
    padding-top:15px;   
    /*flex, so my list stays compact in a row and doesn't auto-adjust .*/
    
}

nav>ul>li{
    padding-right:40px;
    position:relative;/* so the list appears below the li hovered.*/
    display: inline-block;/*fixes a bug with long text in a li overflowing down*/
    
}
nav>ul>li>a{
    color:black;
    padding-left:5px;
    text-decoration: none;
    }
nav>ul>li>ul{
    position:absolute;
    width:65px;
    
    /*this piece of code makes it so the ul inside the li stays immediately on the left,
    so that the dropdown menu looks neater*/
}
nav>ul>li>ul>li{
    background-color: #3399ff;
    border:1px solid black;
    margin-left: -55px;
    padding-right:-10px; text-align: center;
    padding-top:10px;
    padding-bottom:10px;
    cursor:pointer;
}

nav>ul>li>ul>li>a{
    text-decoration: none;
    color:black;
    padding-left:40px;
    /*styling of the links to the pages*/


}
nav>ul>li>ul>li:first-child{
    margin-top:15px;/*so the dropdown menu is below the nav bar*/
}

nav>ul>li>ul>li:hover{
    background-color: #5a81bf;
}

#space{
    padding-top:70px; /* the top doesn't get obstructed by the nav*/
    text-align:center;
}


.popup:hover > .dropdown{
    display:block; /* so the menu becoems visible when we hover over it*/
}

.dropdown {
    display:none;
    list-style-type: none;
    text-indent: -2.5em;
    text-decoration: none;
    color:purple;
     /*the menu, primarily invisible, and using display doesnt take up space, then text adjustments*/
}
.xcoor,.ycoor{
    display:none;
}

footer{
    margin-top:auto;
    display:flex;
    background-color: rgb(54, 50, 50);
    width:100%;
    height:50px;
    justify-content: center;
    color:white;
    align-items: center;
    position:relative;
    align-self: flex-end;
    
}
.footerimg{
    height:40px;
    
}

